*.aux
*.log
*.fls
*.fdb_latexmk
*.out
*.gz

# for ios
.DS_Store

# We don't push the build files. we copy the built resume into it's own directory for gh-pages hosting
build/

# for personal use
*ignore*